<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>685135100402-f5g4r0b24dq83u37dpkp1q7dm1p2crf5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685135100402-f5g4r0b24dq83u37dpkp1q7dm1p2crf5</string>
	<key>API_KEY</key>
	<string>AIzaSyDu4i0yDE6bb5qvVXzb1qYQQ0FZTKAfJvU</string>
	<key>GCM_SENDER_ID</key>
	<string>685135100402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jcry87.FoodieFirebase</string>
	<key>PROJECT_ID</key>
	<string>foodiefirebase-9a85c</string>
	<key>STORAGE_BUCKET</key>
	<string>foodiefirebase-9a85c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685135100402:ios:49d45990b14d5f02fb936b</string>
</dict>
</plist>